$gray:#C7C7C7;
$dark-gray: #777;
$gray-black: #353535;
$bg-gray: #F8F8FA;
$lightest-gray: #EFF2F5;
$theme-color: #06b19a;
$light-tiffany: #b9f1e9;
$tiffany: #139a88;
$green: #00ab44;
$darker-green: #00451b;
$blue: #0278b8;
