div.scrollmenu {
    border-bottom: 1px solid $lightest-gray;
    border-top: 1px solid $lightest-gray;
    box-shadow: 0px 5px 5px -5px $gray;
    background-color:white;
    overflow: auto;
    white-space: nowrap;
    img {
        width: 300px;
        z-index: 98;
        transition: all .2s ease-in-out;
        border-radius: 3px;
    }
    img:hover {
        opacity: 0.3;
       transform: scale(1.05);
    }
    div {
        position: relative;
    }
    label {
        z-index: 100;
        position: absolute;
        text-transform: initial;
        font-size: 40px;
        top: 70px;
        left: 30px;
    }
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    // background-color: $gray;
}
