.category-show {
    background-color: $bg-gray;
    min-height:  calc(100vh - 100px);
    padding: 20px;
    span {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        text-transform: capitalize;
        padding-bottom: 30px;
    }
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.category-show-event-container {
    margin-top: 20px;
    width: 700px;
    border: 1px solid $lightest-gray;
    div {
        padding: 0px;
        background-color: white;
    }
    display: flex;
    justify-content: flex-start;
    box-shadow: 5px 5px 5px -5px $gray;
    &:last-child {
        margin-bottom: 30px;
    }
}

.category-show-event-image {
    width: 700px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: 1px solid $lightest-gray;
}

.category-show-event-details {
    width: 100%;
    a {
        div:nth-child(1) {
            padding: 15px 15px 5px 15px;
            line-height: 20px;
            text-align: left;
            font-size: 13px;
            letter-spacing: 0.5px;
            color: $gray-black;
            text-transform: uppercase;
        }
        div:nth-child(2) {
            font-weight: 700;
            padding: 10px 15px;
            line-height: 25px;
            text-align: left;
            height: 55px;
        }
    }
}

#location-height-fix {
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 15px;
    text-align: left;
}

.category-show-item-options {
    border-top: 1px solid $lightest-gray;
    display: flex;
    justify-content: space-between;
    div {
        border-left: 1px solid $lightest-gray;
        text-align: center;
        vertical-align: -webkit-baseline-middle;
    }
    div:nth-child(2) {
        padding: 4px 10px;
    }
    a {
        font-size: 14px;
        margin-top: 3px;
        margin-left: 15px;
        color: $blue;
        text-transform: capitalize;
        height: 0px;
    }
    i {
        cursor: pointer;
    }
}