.event-index-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    ul {
        padding: 0px;
        margin: 0px;
    }
    font-family: 'Nunito', sans-serif;
}
.event-index-item-detail {
    margin: 20px;
    border: 1px solid $lightest-gray;
    border-bottom: 2px solid $gray;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    width: 349px;
    height: 314px;
    li {
        padding: 0 15px;
    }
    background-color: white;
}

.event-index-item-detail:hover {
    box-shadow: 0 0 8px $lightest-gray;
    cursor: pointer;
}

.event-index-item-date {
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $dark-gray;
}

.event-index-item-title {
    margin: 2px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    height: 53px;
}

.event-index-item-title:hover {
    text-decoration: underline;
}

.event-index-item-location {
    font-size: 12px;
    color: $dark-gray;
    div {
        margin-bottom: 8px;
    }
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.event-index-item-options {
    border-top: 1px solid $lightest-gray;
    display: flex;
    justify-content: flex-end;
    div {
        border-left: 1px solid $lightest-gray;
        text-align: center;
        height: 40px;
        padding: 8px 3px 0px 15px;
    }
}