.event-form {
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
}

.event-description-box {
    margin: 10px;
}

.rich-text-editer{
    width:700px;
    height: 350px;
    margin-bottom: 60px;
    text-transform: none;
}

.event-form-header {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    h1 {
        padding: 10px;
        font-size: 20px;
        border-bottom: 1px solid $gray;
        width: 100%;
        height: 100%;
    }
    margin-bottom: 20px;
}

.header-section-box {
    width: 50px;
    height: 50px;
    background-color: $theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
    padding: 0;
    margin: 0;
}

.event-form-box {
    text-transform: uppercase;
    label {
        margin: 15px;
        font-weight: 700;
        display: block;
        width: 100%;
    }
    input {
        display: block;
        width: 80%;
        margin: 5px 10px;
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 15px;
        font-size: 14px;
    }
    input:focus {
        outline: none;
        border-color: $theme-color;
        box-shadow: 0 0 6px $light-tiffany;
    }
}

.event-form-datetime {
    display: flex;
    justify-content: flex-start;
    div {
        width: 50%;
    }
}

.event-form-starttime,
.event-form-endtime {
    input {
        display: block;
        width: 130px;
        padding: 12px;
    }
}

.expand-address-bar {
    text-transform: initial;
    color: black;
    font-size: 14px;
    span {
        padding: 0 100px 0px 20px; 
    }
    span:hover {
        font-weight: 700;
        color: $tiffany;
        cursor: pointer;
    }
    margin-bottom: 15px;
}

.event-form-online-event {
    text-transform: initial;
    margin: 12px;
    padding: 12px;
    color: $blue;
}

.event-form-submit {
  margin-top: 25px;
  padding: 18px;
  background: #fff;
  border: 4px solid $dark-gray;;
  border-radius: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16pt;
  cursor: pointer;
  transition: 300ms linear;
  color: $dark-gray;
}

.event-form-submit:hover {
  border-color: $tiffany;
  color: $tiffany;
}

.event-error-message {
    margin: 0 15px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 10px;
    color: red;
    display: inline;
    text-transform: initial;
    letter-spacing: 0.8px;
    font-weight: 700;
}