.event-index-items {
    background-color: $bg-gray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    ul {
        padding: 0px;
        margin: 0px;
    }
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.event-index-item-detail {
    margin: 20px;
    border: 1px solid $lightest-gray;
    border-bottom: 2px solid $gray;
    border-radius: 0 0 15px 15px;
    width: 360px;
    li {
        padding: 0 15px;
    }
    background-color: white;
}

.event-index-item-detail:hover {
    box-shadow: 0 0 8px $lightest-gray;
    cursor: pointer;
}

.event-index-item-date {
    margin-top: 15px;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $dark-gray;
    i {
        margin-right: 5px;
    }
}

.event-index-item-title {
    border-left: 2px solid $lightest-gray;
    margin: 5px 19px;
    font-size: 17px;
    font-weight: 400;
    height: 63px;
}

.event-index-item-title:hover {
    text-decoration: underline;
}

.event-index-item-location {
    font-size: 13px;
    letter-spacing: 0.4px;
    color: $dark-gray;
    i {
        margin-right: 5px;
    }
    div {
        margin-bottom: 8px;
        height: 14px;
    }
}

.event-index-item-options {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $lightest-gray;
    border-radius: 0 0 15px 15px;
    div {
        border-left: 1px solid $lightest-gray;
        text-align: center;
        height: 34px;
        padding: 8px 3px 0px 15px;
    }
    div:first-child {
        padding-left: 1px;
        border: 0px;
    }
    a {
        font-size: 14px;
        margin-right: 5px;
        color: $blue;
        text-transform: capitalize;
        height: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}
