.event-detail-blur-bg {
    background: no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(60px);
    position: absolute;
    height: 600px;
    width: 100%;
    top: 50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}

.event-detail-main-container {
    font-family: 'Lato', sans-serif;
    width: 1000px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px $gray;
    margin: 40px auto;
    z-index: 1;
    p {
        font-weight: 300;
    }
}

.event-detail-header {
    height: 380px;
    display: flex;
    justify-content: space-between;
}

.event-detail-header-bg {
    width: 680px;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.event-detail-header-info {
    text-align: left;
    width: 320px;
    height: 380px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
}

.event-detail-header-month {
    font-size: 12px;
    letter-spacing: 1.1px;
    text-align: center;
    text-transform: uppercase;
    width:35px;
    margin-top: 15px;
    color: $dark-gray;
}

.event-detail-header-date {
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    width:35px;
    padding: 4px 1px 0px 1px;
    color: $dark-gray;
}

.event-detail-header-title {
    font-weight: 400;
    font-size: 24px;
    margin-top: 50px;
    color: $gray-black;
    letter-spacing: 0.5px;
    font-family: 'Nunito', sans-serif;
}

.event-detail-header-organizer {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: $dark-gray;
    margin-top: 20px;
    strong {
        font-weight: 400;
    }
}

.event-detail-register-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 22px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    background-color: white;
    div {
        display: flex;
        justify-content: space-between;
    }
    i {
        font-size: 32px;
        margin-right: 20px;
        cursor: pointer;
    }
    a {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        padding: 8px 15px;
        margin-right: 10px;
        border-radius: 50px;
        background-color: $lightest-gray;
    }
    a:hover {
        background-color: $gray-black;
        color: white;
    }
    button {
        font-size: 14px;
        letter-spacing: 1.1px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        width: 270px;
        padding: 13px 15px;
        background-color: $green;
        transition: 300ms linear;
    }
    button:hover {
        background-color: $darker-green;
    }
}

.event-detail-content {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
}

.event-detail-content-main {
    width: 680px;

}

.event-detail-content-sidebar {
    width: 320px;
}

.event-detail-content-main,
.event-detail-content-sidebar,
.event-detail-organizer-detail {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: $gray-black;
    padding: 30px 25px 25px 40px;
}

.event-detail-content-main,
.event-detail-content-sidebar {
    b {
        padding: 3px 15px;
        border-left: 3px solid $lightest-gray;
    }
    b:hover {
        border-color: $theme-color;
    }
}

.event-detail-description,
.event-detail-datetime,
.event-detail-location {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1.6;
    color: $dark-gray;
    padding: 25px 25px 20px 0;
}

.event-detail-datetime,
.event-detail-location {
    font-size: 15px;
}

.event-detail-description {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        padding: 0px;
        margin: 0px;
    }
    strong {
        font-weight: 700;
    }
    li {
        list-style: initial;
        list-style-position: inside; 
    }
}

.event-detail-edit-bar {
    padding: 0px 20px 20px 20px;
    text-align: center;
    background-color: $bg-gray;
    color: $dark-gray;
    button {
        font-size: 14px;
        padding: 10px 15px;
        width: 180px;
        background-color: $gray;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Nunito', sans-serif;
        transition: 300ms linear;
        color: white;
    }
    button:hover {
        background-color: black;
    }
}

.event-detail-time {
    margin: 10px 0px;
    color: $blue;
}

.event-detail-organizer-detail {
    padding-left: 25px;
    background-color: $bg-gray;
    img {
        margin-top: 20px;
        width: 100px;
        height: 100%;
    }
}
            
.organizer {
    text-transform: initial;
    font-size: 24px;
    padding-top: 20px;
}