.footer {
    background-color: #282C35;
    border-top: #666A73 solid 2px;
    color: #666A73;
    // margin-top: 15px;
}

.footer-container {
    margin: 0 auto;
    div {
        width: 100%;
        margin: 0 auto;
    }
    p {
        font-family: 'Pacifico', sans-serif;
        font-size: 31px;
    }
}

.footer-links {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    span {
        padding: 0px 10px;
    
    }
    border-bottom: 1px solid #363a43;
}

.disclaimer {
    padding: 15px 15px 20px 15px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: $dark-gray;
}