
.previewComponent {
  display: flex;
  form {
    flex: 1;
  }
  div {
    flex: 2;
  }
}

.fileInput {
  padding: 10px;
  margin: 15px;
  border: 0px solid;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 10px;
  padding-right: 30px;
  object-fit: contain;
  border-radius: 5px;
}
.imgPreview img {
  width: 85%;
  height: 100%;
}
.previewText {
  width: 85%;
  margin: 20px 0px;
  text-transform: initial;
  padding: 5px;
  font-size: 14px;
}
