.nav-bar {
    display: flex;
    justify-content: space-between;
    nav {
        padding: 0px 25px;
    }
    border-bottom: 1px solid $lightest-gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
}

.nav-logo {
    border-right: 1px solid $lightest-gray;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    color: $theme-color;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    cursor: pointer;
    nav {
        border-left: 1px solid $lightest-gray;
        letter-spacing: 1.2px;
        padding-top: 19px;
    }
    nav:hover {
        background-color: $lightest-gray;
    }
    position: relative;
}

.nav-item-dropdown-top {
    position: relative;
    nav {
        padding-bottom: 19px;
    }
    nav:hover {
        background-color: $lightest-gray;
    }
}

.nav-item-dropdown {
    position: absolute;
    height: 20px;
    vertical-align: center;
    display: none;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid $lightest-gray;
    border-top: 1px solid $lightest-gray;
    width: 90px;
    right: 0px;
    text-align: right;
}

#hard-reset {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.nav-item-dropdown-long {
    position: absolute;
    vertical-align: center;
    display: none;
    z-index: 1;
    background-color: white;
    right: 0px;
    label {
        &:first-child {
            padding: 7px 19px;
        }
        padding: 19px;
        width: 150px;
        text-align: left;
        background-color: white;
        display: block;
        border-bottom: 1px solid $lightest-gray;
        cursor: pointer;
        vertical-align: middle;
        div {
            margin-left: 60px;
            padding-top: 10px;
            display: inline-block;
            background-color: $theme-color;
            border-radius: 20px;
            color: white;
            font-weight: 700;
            width: 40px;
            height: 30px;
            text-align: center;
        }
    }
    label:hover {
        background-color: $lightest-gray;
    }
}

.nav-item-dropdown-category {
    position: absolute;
    vertical-align: center;
    display: none;
    z-index: 1;
    background-color: white;
}

.nav-item-dropdown-top:hover .nav-item-dropdown, {
    display: block;
}

.nav-item-dropdown-top:hover .nav-item-dropdown-long {
    display: block;
}

.nav-item-dropdown-top:hover .nav-item-dropdown-category {
    display: block;
}

.exit-icon {
    display: block;
    text-align: right;
}

.nav-item-blue {
    font-weight: 600;
    color: $blue;
}