.nav-bar {
    display: flex;
    justify-content: space-between;
    nav {
        padding: 15px;
    }
    border-bottom: 1px solid $lightest-gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.nav-logo {
    border-right: 1px solid $lightest-gray;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    color: $theme-color;

}

.nav-items {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    cursor: pointer;
    nav {
        border-left: 1px solid $lightest-gray;
        letter-spacing: 1.5px;
    }
    
}

.exit-icon {
    display: block;
    text-align: right;
}