.session-form{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 20px;
    vertical-align: top;
    h1, p {
        text-align: center;
        padding: 10px;
    }
    h1 {
        font-size: 28px;
    }
    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid $gray;
        padding: 10px;
    }
    input:hover {
            border-bottom: 1px solid black;
        }
    input[type="submit"] {
        border-radius: 20px;
        background-color: rgb(204, 7, 66);
        width: 47%;
        color: white;
        text-align: center;
        margin: 5px;
    }

    
}

.session-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}